.copyright{color:#fff;}
#cate30  .mainmenu li{background-color:#1CBB0E;}
#cate30  .mainmenu li:nth-child(2n){ background-color: #B8EBB1}
#cate30  .mainmenu li:nth-child(2n) a{ color:#000}
#cate30  .mainmenu li a{color:#FFF;}
#cate30 {background-color:#034103; }