body{margin:0;padding:0;font-family:'微软雅黑',tahoma,'黑体';}
.container{max-width: 1170px;/*padding-left:25px;padding-right:25px;*/margin:0 auto;}
li{list-style:none;}
a,a:hover{text-decoration: none;}
.version_tips{padding:3px 30px 3px 10px;color:#666;display:none;font-size:12px;position:fixed;top:0;z-index:3;width:100%;background:#f0efef;}
.version_tips span{color:#fe6813;}

.menu_all{background: #fe6813;box-shadow:0px 2px 10px 0 rgba(0, 0, 0, 0.1);position: relative;
		  /*zoom: 1;filter: progid:DXImageTransform.Microsoft.Shadow(Color=#333, Strength=1, Direction=-5);*/} 
.menu_top ul{padding: 0 22px;background: white;box-shadow: 0px 0px 5px 0px rgba(0,0,0,.2);}
.menu_top ul,.menu_link ul{float:right;margin:0;}
.menu_top ul li{float: left;padding:0 10px;font-size:12px;}
.menu_top ul li a{color:#fe6813;}
.menu_top{height:26px;line-height: 26px;}
.navbar-default .navbar-nav>li>a{color:white;font-size: 16px;padding:0;}
.navbar-default .navbar-nav>li>a:hover{background-color: white;color:#fe6813;box-shadow: 0px 0px 5px 0px rgba(0,0,0,.2);font-size:14px!important;}
.navbar-default .navbar-toggle .icon-bar{background-color:white;}
.navbar-default .navbar-toggle{border-color: white;border-radius:0;}
.navbar-default .navbar-nav>li:nth-child(1)>a:hover{padding:3px 12px!important;}
.navbar-default .navbar-nav>li:nth-child(2)>a:hover{padding:3px 14px!important;}
.navbar-default .navbar-nav>li:nth-child(3)>a:hover{padding:3px 15px!important;}
.navbar-default .navbar-nav>li:nth-child(4)>a:hover{padding:3px 12px!important;}
.navbar-default .navbar-nav>li:nth-child(5)>a:hover{padding:3px 14px!important;}

.banner{box-shadow: 0px 0px 10px 0px rgba(0,0,0,.4);padding-bottom:80px;
		background:url("/tpl/Home/abiza1/common/images/background.png"); 
		background-repeat: no-repeat;background-position:top center;background-size:100%  100%;}
.left_banner{text-align: center;color:white;padding:22px;padding:0;margin-top: 25px;overflow: hidden;}
.left_banner .icon_box{overflow: hidden;max-width: 380px;margin: 0 auto;}
.left_banner .web_box{margin-top:24px;}
.left_banner .web_box .web_name{margin-top:5px;}
.right_banner{color:white;padding:0;overflow: hidden;}

h2.step_adv{font-size:27px;color:#262525;padding-left: 55px;}
h3.step_adv{font-size:20px;color:#6a6968;padding-left: 55px;}
div.step_adv h1{color:#4d4b4b;font-size:28px;margin-top:18px;}
div.step_adv p{color:#fc0000;font-size:20px;margin-top:17px;}
div.step_adv p.p1{color:#575555;font-size: 20px;margin-top: 19px;}
.all_reg_steps{margin-top:50px;}
.reg_steps{margin-top:50px;}
.reg_step_left{overflow: hidden;padding:0;}
.content-left,.content-right{text-align: center;}
.content-left{line-height: 276px;}
.content-left img{max-width: 100%;}
.content-right img{max-width: 100%;}
.step_name{text-align: center;line-height: 20px;position: relative;top: -110px;font-size: 16px;color:#010101;}

.register{padding: 6px 0;height: 42px;margin-top:55px;}
.register h2{line-height: 19px;margin: 0;font-size: 18px;color:#fff;text-align: center;padding:8px 0;margin: 0 auto;
			 width:225px;background: #fe6813;box-shadow: 0px 2px 10px 0px rgba(0,0,0,.3);}

.extend_wrap{margin-top:95px;}
.extend{margin: 0 auto;margin-top: 60px;text-align:center;}
.extend .user_title{font-size: 20px;color:#fe6813;}
.extend .net_adv{font-size: 15px;color:#444445;margin-top: 20px;}
.extend_way{overflow:hidden;}
.extend_way .img{max-height: 100%;margin-top:50px;}
.extend_way p{line-height:60px;font-size:17px;color:#f56813;}
.extend_way .img_icons{overflow:hidden;max-width: 200px;margin: 0 auto;margin-top:20px;}
.extend_way .img_icons .img_icon:nth-child(2){margin-top:45px;}
.extend_way_step1{overflow:hidden;}
.site_msg .site_intro div{padding: 0;}
.arrow img{margin-top:30px;max-height: 75px;}
.img_icon{max-width: 60px;padding: 0;}
.site_msg{margin-top:50px;overflow:hidden;}
.msg_content{text-align: left;  max-width: 210px;margin: 0 auto;}
.msg_content p{font-size:15px;color:#444445;line-height: 28px;}
.portal{overflow:hidden;}
.portal img{max-height: 94px;margin-top:50px;}
.portal h3{margin-top:50px;}
.adv_msg{margin-top:50px;font-size:17px;color:#454545;}
.adv_msg span{color:#e8661b;}
.busi_site{margin-top:50px;}
.import_adv{margin-top:80px;color:#e8661b;font-size: 20px;}


.footer{background:#292828; color:#9b9b9b;margin-top:22px;padding:32px 0px 32px 0px;text-align: center;overflow:hidden; }
.footer .container{max-width:980px;}
.footer .footer_left{text-align:left;line-height: 25px;border-right:1px solid #1a1a1a;}
.footer .footer_left .footer_contact{max-width:220px;margin:0 auto;}
.footer .footer_right{line-height: 50px;}
.footer p{margin: 0;font-size:13px;}

.normalTitle {border-bottom: 1px solid #D7DDE6;border-radius: 10px 10px 0 0;padding: 10px 40px 20px 40px;
			  text-shadow: 0 1px 1px #FFFFFF;}
.normalTitle h2, .panelTitle h2, .processTitle h2 {font-size: 20px;font-weight: bold;}
.content {margin: 0 auto;text-align: left;width:100%;}
.article, .intro, .download, .document, .developer {background:#f5f6f7;box-shadow:0px 1px 3px #ccc;}
.section {border-bottom:1px solid #eee;overflow: hidden;}
.lastSection {border:none;margin-bottom:0px;}
.normalContent {background:#fff;padding:20px 40px;}
.collapsible {background: none repeat scroll 0 0 #FFFFFF;padding: 20px;}
.CollapsiblePanel {margin-bottom: 10px;width: 100%;}
.CollapsiblePanelTab {background:#FFFFFF;border: 1px solid #DEDEDE;border-radius: 3px 3px 3px 3px;color: #626B8A;
					  cursor: pointer;font-size: 18px;padding: 20px 40px 20px 20px;text-shadow: 0 1px 0 white;}
.CollapsiblePanelTab.hover {background:#D7DDE6;border: 1px solid #C1C9D4;}
.CollapsiblePanelTab.clicked {background:#D7DDE6;border: 1px solid #C1C9D4;}
.CollapsiblePanelContent {display: none;overflow: hidden;}
.CollapsiblePanelContent .normalContent {padding: 20px 20px 0;}
.content img{max-width: 100%;}

.login_title{text-align: center;border-bottom:1px solid #ddd;}
.Public-content {background: #f8f8f8;}

.controls{display:inline-block;}
.control-label{width:100px;padding-right:20px;float:left;font-size:16px;font-family: '微软雅黑';}
.control-group{padding:10px 0;line-height:35px;display: inline-block;}
.control-group input{border-radius:5px;border:1px solid #ddd;}
.control-group select{border-radius:5px;border:1px solid #ddd;height:40px;padding-left: 5px;}
.form-horizontal .control-label{padding-top:0;}
.maroon{color:red;margin-left:5px;}
.help_msg{display: inline-block;}

/*.shop_title{background: #921925;  padding: 10px 0 25px 0;}
.shop_title h2{color:white;line-height: 40px;}
.content_title{border-bottom:1px solid #eee;font-weight: 600;}
.content_text{text-indent: 2em;margin-top:20px;}
*/

.navbar-default .navbar-nav>.open>a{background:none;}
.navbar-default .navbar-nav>.open>a:hover{background:none;}
.navbar-nav>li>a {padding-top: 23px;padding-bottom: 23px;}
.dropdown-menu>li>a:hover{background: none;color:white;}
ul.dropdown-menu {background: rgba(0,0,0,.7);box-shadow: none;border-radius:0;margin:0;padding:0}
ul.dropdown-menu li{}
ul.dropdown-menu >li >a{color:#9a9a9a;padding-top:5px;padding-bottom: 5px}
.navbar-nav>li>a{padding-left:10px;padding-right: 10px;}
#think_page_trace_open{display: none;}
a.intro_more{padding:7px 0;}
a.intro_more:hover{background: white;color:#d12435;}

.box-content{padding-left: 30px;}

/*.sec_title{line-height:35px;margin-top:10px;}
.sec_title ul li{border-bottom:1px solid #f8f8f8;}
.sec_title img{max-width: 90%;}
.sec_title a{color:#333;}
*/

.slide_menu{position:fixed;right:-160px;width:160px;line-height:35px;height:100%;background:rgba(0,0,0,.7);top:0; overflow: scroll;}
.slide_menu ul{margin:0;padding:10px;}
.slide_menu a{color:white;}
.slide_menu_toggle{background:rgba(0,0,0,.5);height:50px;width:30px;position:fixed;top:50%;right: 0;}
.gototop{position: fixed ! important;border-radius:15px; border:1px solid #ccc; box-shadow:2px 2px 2px #999;height:30px;
		 width:30px; right:15px;background:#fff; bottom:50px;text-align:center;line-height:30px; text-decoration:none; color:#F00;}
.sec_title h4{font-weight: 600;}


/* register & login */
.input_title{font-weight: normal;color:#656161;font-size: 15px;line-height: 70px;display: inline-block;width: 85px;
			 text-align: right;padding-right: 10px;}
.input_text{display: inline-block;}
.input_text input{width: 220px;  line-height: 30px;border:1px solid #aaa;padding-left: 5px;}
.form{text-align: center;margin-top:35px;}
.user_name{background: url("/tpl/Home/abiza1/common/images/user_icon.png") no-repeat right center;padding-right: 24px!important;}
.password_input{background: url("/tpl/Home/abiza1/common/images/lock_icon.png") no-repeat right center;padding-right: 44px!important;}
.item{padding-left: 85px;}
.item.item a{font-size: 13px;color:#fe6813;}
.item button{width: 220px;padding: 3px;color: white;background-color: #fe6813;border: 1px solid #fe6813;border-radius: 4px;
			 margin-top: 25px;font-size: 19px;}
.reg_left{text-align: center;}
.reg_left img{max-width: 408px;width: 100%;}
.reg_page{margin-top: 120px;}
.page_margin{margin-top: 80px;}

.page{text-align:center;background:url("/tpl/Home/abiza1/common/images/reg_bg.png"); 
		background-repeat: no-repeat;background-position:top center;}
.page .reg_adv{text-align: center;margin:0;line-height: 35px;color:white;font-size:24px;}
.page .img_container{overflow: hidden;  max-width: 880px;margin: 20px auto 0;}
.page .img_container div:first-child{text-align: right;}
.page .img_container div:last-child{text-align:center;}
.page .img_container img{max-width: 100%;}
.page .have_read{color:white;margin: 30px auto 0;font-size: 18px;font-weight:normal;}
.reg_btn{width: 252px;height: 49px;padding: 0;font-size: 24px;color: #fe6813;background-color: white;border: none;
		 margin-top:15px;box-shadow:0px 0px 10px 0px rgba(0,0,0,.4);}
#protocol{display: block;position: absolute;top: 100px;color: black; height: 500px; box-shadow: rgb(102, 102, 102) 0px 0px 20px 0px;
		  background: white;margin:0 20px;left:0;text-align:left;text-indent:2em;line-height:28px;max-width:1140px;}
#close_protocol{text-align:right;cursor:pointer;}
#protocol strong {font-size: larger;line-height: 35px;}
#read_protocol{cursor: pointer;text-decoration: underline;}

.steps_process{background: url('/tpl/Home/abiza1/common/images/line.png' ) repeat-x center;line-height:40px;overflow: hidden;
			   text-align: center;margin-top:80px;}
.step_process_in{height: 40px;width: 40px;margin: 0 auto;background-color: #fe6813;border-radius: 50px;color: white;font-size: 28px;}
.step_process{height: 40px;width: 40px;margin: 0 auto;background-color: #ccc;border-radius: 50px;color: white;font-size: 28px;}
.all_steps_num{max-width: 750px;overflow: hidden;margin:0 auto;}
.steps_name_process{line-height:50px;overflow: hidden;text-align: center;}
.all_steps_name{max-width: 750px;overflow: hidden;margin:0 auto;}
.process_name_in{color: #030000;font-size: 16px;}
.process_name{color: #9999a5;font-size: 16px;}
.reg_title{color:#fe6813;text-align: center;font-size: 35px;margin-top:45px;}
.reg_title span{font-size: 30px;}
.reg_table{width:100%;line-height: 80px;}
.reg_table input{line-height: 35px;width:100%;max-width:370px;border:1px solid #b4b4b4;padding: 0px 5px;min-height:35px;}
.reg_table tr td:first-child{width:80px;text-align:right;font-size: 15px;color: #585656;}
.reg_table tr td:last-child{padding-left:10px;padding-right: 40px;}
.table_box{max-width: 440px;margin: 0 auto;}
.submit_btn{padding: 3px!important;color: white;background-color: #fe6813;border:none!important;margin-top: 25px;font-size: 19px;
		    box-shadow: 0px 2px 10px 0px rgba(0,0,0,.4);}
.reg_table tr .return_msg{line-height:20px;font-size:14px;text-align:center;padding:0;}
.sure{width: 40%;margin: 0 auto;padding: 8px;background-color: #fe6813;color: white;font-size: 16px;
	  max-width: 200px; box-shadow: 0px 2px 10px 0px rgba(0,0,0,.4);cursor:pointer;}
#register_success_panel_content{line-height:30px; }
.step_tips{color:#868383;font-size:17px;line-height:30px;text-align:center;margin:40px 0;}
.reg_table select{height: 35px;min-width: 60px;}
.msg_tips{margin-top:5px;margin-bottom:30px;color:#868383;}
.tips_ques{margin-top:50px;}
.two_button{text-align: center;margin-top:0px;}
.done_title{color:#fe6813;text-align: center;font-size: 53px;margin-top:80px;margin-bottom:45px;}
.done_msg{margin-bottom:50px;}
.done_msg h2{font-size:23px;;color:#fe6813;text-align:center;}
.done_msg p{font-size:18px;color:#424241;text-align:center;}
.done_msg p a{color:#fe6813;}
.done_msg .done_extend{max-width: 420px;margin: 0 auto;}
.done_msg .done_extend p{text-align: left;}

/*help*/
.help_page{margin-bottom:100px;}
.help_all_box{overflow:hidden;}
.help_all_box .help_single_box{margin-top:75px;}
.help_all_box .help_title{text-align:center;}
.help_all_box .help_title img{max-height: 95px;max-width: 100%;}
.help_all_box .help_title h2{font-size:16px;color:#fe6813;}
.help_all_box .help_ques{text-align:left;max-width: 300px;margin: 0 auto;margin-top: 35px;overflow: hidden;}
.help_all_box .help_ques ul{margin:0;line-height: 35px;padding-left: 20px;}
.help_all_box .help_ques ul li{list-style: initial;}
.help_all_box .help_ques ul li a{color:#333333;font-size:13px;}
.help_all_box .help_ques div{padding:0;}

.apply_page{background:url("/tpl/Home/abiza1/common/images/apply_bg.jpg"); 
		    background-repeat: no-repeat;background-position:top center;background-size:auto  100%;color:#fdfdfd;}
.apply_page h1{margin-top:68px;margin-bottom:58px;}
.apply_page p{margin-bottom:20px;}
.apply_page{padding-bottom:70px;}
.apply_table{margin-top:25px;}
.apply_page .reg_table{line-height: 70px;}
.apply_table .differ_tr{line-height:20px;margin:0;}
.apply_table .differ_td{color:#868383;margin-bottom:20px;margin-top:5px;padding-top: 23px;}
.apply_table .leave_msg{padding-top:23px;padding-right: 30px;line-height:30px;}
.apply_table .leave_msg textarea{max-width: 370px;width: 100%;min-height:66px;}
tr.select_box{line-height: 25px;}
tr.select_box td{padding-top: 30px;}
.submit_tr{line-height:150px;}
.apply_table .reg_table tr td.apply_tips{text-align: center;line-height: 25px;}


/* 适应平板 */ 
@media screen and (min-width: 768px) and (max-width:992px){
	.navbar-default .navbar-nav>li>a{font-size:15px;}
	.right_banner h1{font-size:28px;text-align:center!important;}
	.right_banner div h4{font-size:15px;text-align:center!important;}
	.right_banner div h3{font-size:20px;text-align:center!important;margin-top: 30px!important;}
	.right_banner div{float:initial!important;margin: 0 auto;}
	.right_banner a div{width: 169px!important;padding: 5px 0 7px 0 !important;}
	.banner{padding-bottom: 40px;}
	.reg_steps{margin: 0 auto;margin-top:30px;overflow: hidden;max-width: 500px;}
	.reg_step_left:first-child{height: 200px;}
	.content-left{line-height:0; }
	.step_name{top: -70px;}
	h2.step_adv{font-size:25px;}
	h3.step_adv{font-size:18px;}
	.register{margin-top: 30px;}
	.register h2{width: 211px;}
	.extend_wrap{margin-top:50px;}
	div.step_adv{font-size:18px;}
	div.step_adv h1{font-size:25px; }
	div.step_adv p.p1{font-size:19px;line-height: 35px;margin-top: 10px; }
	div.step_adv p{font-size: 18px;}
	div.step_adv p .be_block{display:block;}
	.extend{margin-top:0;}
	.arrow img{max-height: 61px;margin-top: 10px;}
	.extend_way .extend_way_step1,.extend_way .extend_way_step2{max-width: 600px;margin: 0 auto;}
	.extend_way .extend_way_step1 img{margin-top:0;}
	.extend_way .img{max-height:65px;}
	.extend_way .img_icons img{max-height:38px;}
	.extend_way .img_icons{margin-top:0;}
	.extend_way .img_icons .img_icon:nth-child(2){margin-top:25px;}
	.site_msg .site_intro{padding: 0;max-width: 450px;margin: 0 auto;overflow:hidden;}
	.site_msg .site_intro div img{max-width:125px!important;}
	.site_msg .site_intro div:first-child{min-height:188px;line-height:188px;}
	.site_msg{margin-top: 10px;}
	.adv_msg{margin-top: 20px;margin-bottom: 10px;}
	.busi_site{margin-top:20px;}
	.import_adv{margin-top:40px;}
	
	.page .reg_adv{font-size:21px;line-height: 40px;}
	.page .have_read{font-size:18px;} 
	.reg_btn{font-size:18px;width: 205px;height: 42px; margin-top: 40px;}
	
	.steps_process{margin-top:40px;}
	.reg_title{font-size: 28px;margin-top:30px;}
	.reg_title span{font-size: 23px;padding-right: 30px;}
	.step_tips{margin: 30px 0;}
	.reg_table select{height:30px;}
	.step_tips span{display:block;}
	.msg_tips{margin-bottom: 20px;}
	.reg_table{line-height: 70px;}
	.submit_btn{margin-top: 0;}
	.two_button{margin-top: 30px;}
	.tips_ques {margin-top: 30px;}
	
	.done_title{font-size:45px;margin-top: 40px;}
	.done_msg p{font-size: 16px;}
	.done_msg h2{font-size: 21px;}
	.done_msg .done_extend{max-width: 320px;margin: 0 auto;}
	.done_msg .done_extend p{font-size: 14px;text-align: left;}
	
	.footer{margin-top: 40px!important;padding: 21px 0px 21px 0px;}
	.footer p{font-size: 12px;}
	.footer .footer_left{line-height: 21px;border-right:1px solid #1a1a1a;}
	.footer .footer_right{line-height: 42px;}
	
	
	.help_all_box .help_title h2{font-size:15px;}
	.help_all_box .help_ques ul li a{font-size:12px;}
	
	.apply_page h1{margin-top:35px;margin-bottom:23px;font-size:26px;}
	.apply_page p{margin-bottom:12px;font-size:11px;}
	.apply_page{padding-bottom:25px;}
	.apply_table .differ_td{padding-top: 18px;margin-bottom:15px;}
	.apply_table .leave_msg{padding-top:18px;}
	.submit_tr{line-height:120px;}
	tr.select_box td{padding-top: 21px;}
	
}
/* 适应小屏幕（手机）  */ 
@media screen and (max-width: 768px) {
	.navbar-default .navbar-nav>li:nth-child(1)>a:hover{padding:3px 35px!important;}
	.navbar-default .navbar-nav>li:nth-child(2)>a:hover{padding:3px 35px!important;}
	.navbar-default .navbar-nav>li:nth-child(3)>a:hover{padding:3px 35px!important;}
	.navbar-default .navbar-nav>li:nth-child(4)>a:hover{padding:3px 35px!important;}
	.navbar-default .navbar-nav>li:nth-child(5)>a:hover{padding:3px 35px!important;}
	.left_banner{margin-top:0;}
	.web_box img{max-width:78px;}
	.left_banner .web_box .web_name{font-size:9px;}
	.left_banner .icon_box{max-width:200px;}
 	.right_banner h1{font-size:16px;text-align:center!important;margin-top: 20px!important;}
	.right_banner div h4{font-size:10px;text-align:center!important;margin-top: 20px!important;}
	.right_banner div h3{font-size:13px;text-align:center!important;margin-top: 20px!important;}
	.right_banner div{float:initial!important;margin: 0 auto;margin-top: 20px!important;}
	.right_banner a div{width: 120px!important;padding: 5px 0 7px 0 !important;font-size:10px!important;}
	.banner{padding-bottom: 20px;background: #fe6813;}
	.all_reg_steps{margin-top:20px;}
	h2.step_adv {font-size: 18px;padding-left: 0;text-align: center;}
	h3.step_adv {font-size: 13px;padding-left: 0;text-align: center;max-width: 240px;margin: 0 auto;line-height: 20px;}
	.content-left{line-height:0;}
	.reg_steps{margin-top:20px;}
	.step_name{line-height: 15px;top: -55px;font-size: 9px;}
	.reg_step_left{padding: 0;max-width: 350px;margin: 0 auto;height: 140px;}
	.reg_step_left .content-left:nth-child(1){padding-left:0;}
	.reg_step_left .content-left:nth-child(2){padding-right:0;}
	.content-left img{max-width:130px;width:100%;}
	.step_name{top: -45px;}
	.register{margin-top: 10px;}
	.register h2{width: 185px;font-size: 15px;padding: 5px 0;}
	.extend_wrap{margin-top: 25px;}
	div.step_adv h1{font-size: 18px;}
	div.step_adv p{font-size: 15px;margin-top: 5px;}
	div.step_adv p.p1{margin-top: 5px;font-size: 15px;}
	div.step_adv p.p1 .be_block{display:block;margin-top: 5px;}
	.extend{margin-top: 10px;}
	.extend .user_img{max-height:78px;}
	.extend .user_title{font-size:15px;margin:0;margin:5px 0;}
	.extend .net_adv{font-size:15px;margin:0;margin:5px 0;}
	.arrow img{max-height: 28px;margin-top: 10px;}
	.extend_way .img{max-height: 55px;margin-top: 20px;}
	.extend_way .img_icons img{max-height:30px;}
	.extend_way .img_icons .img_icon:nth-child(2){margin-top:15px;}
	.extend_way p{line-height: 25px;font-size: 14px;}
	.extend_way .img_icons{margin-top:0;}
	.extend_way_step1,.extend_way_step2{max-width: 350px;margin: 0 auto;}
	.extend_way_step2{margin-top:15px;}
	.site_msg .site_intro div:first-child{line-height: 130px;}
	.site_msg .site_intro div:first-child img{max-height: 85px;}
	.msg_content h3{font-size:16px;margin-bottom:10px!important;}
	.msg_content p{font-size: 12px;margin-bottom: 0;}
	.site_msg{margin-top: 0px;}
	.site_intro{max-width: 400px;margin: 0 auto;overflow: hidden;}
	.adv_msg span{font-size: 15px;}
	.portal img{max-height: 75px;margin-top: 20px;}
	.portal{max-width: 350px;margin: 0 auto;}
	.portal .msg_content{text-align:center;margin: 0 auto!important;}
	.portal .msg_content h3{font-size:15px!important;margin-top:15px;}
	.portal .msg_content p{line-height: 22px;}
	.adv_msg{font-size:15px;max-width: 260px;margin: 0 auto;line-height: 25px;margin-top:20px;}
	.busi_site {margin-top: 20px;}
	.busi_site img{max-width: 90px!important;}
	.busi_site  h4{font-size:15px!important;}
	.import_adv{margin: 0 auto;margin-top: 30px;color: #e8661b;font-size: 20px;max-width: 360px;line-height: 40px;margin-bottom: 20px;}
	.import_adv span{display:block;}
	
	
	.page .reg_adv{font-size:16px;line-height: 40px;}
	.page .have_read{font-size:13px;} 
	.reg_btn{font-size:15px;width: 182px;height: 36px;  margin-top: 40px;}
	
	.steps_process{margin-top:28px;line-height: 25px;}
	.reg_title{font-size: 25px;margin-top:30px;}
	.reg_title span{font-size: 20px;padding-right: 30px;}
	.reg_table{line-height: 65px;}
	.submit_btn{margin-top: 0;}
	.reg_table input{line-height: 32px;}
	.form{margin-top: 15px;}
	.reg_table tr td:last-child{padding-right: 20px;}
	.submit_btn{font-size:18px;}
	
	.step_process_wrap{padding:0 2px;}
	.process_name_in,.process_name{font-size: 9px;line-height: 25px;}
	.step_process_in{font-size:16px;height:25px;width: 25px;}
	.step_process{font-size:16px;height:25px;width: 25px;}
	
	.step_tips{max-width: 260px;margin: 20px auto;font-size: 14px;}
	.reg_table select{height:auto;margin: 5px 0;}
	.reg_table tr td:first-child{font-size:14px;}
	.msg_tips{font-size:12px;margin-bottom: 10px;}
	.be_block{display:block;}
	.tips_ques {margin-top: 30px;}
	.two_button{margin-top:20px;}
	
	.done_title{font-size: 40px;margin-top: 40px;margin-bottom: 33px;}
	.done_msg p{font-size:15px;}
	.done_msg p:nth-child(1){margin: 0;line-height: 25px;}
	.done_msg p:nth-child(2){max-width: 220px;margin: 0 auto;line-height: 25px;}
	.done_msg h2{font-size: 21px;margin-top: 34px!important;margin-bottom:30px!important;}
	.done_msg .done_extend p{font-size: 13px;text-align:left;}
	.done_msg .done_extend{max-width: 270px;}
	.done_msg .done_extend p{max-width: 270px;}
	
	.footer{margin-top: 20px!important;padding: 21px 0px 21px 0px;}
	.footer .container{max-width: 300px;}
	.footer .footer_left{line-height:31px;border-right: none;padding:0;}
	.footer .footer_left .footer_contact{max-width: initial;}
	.footer .footer_right{text-align:left;line-height:31px;padding:0;}
	.footer p{font-size: 12px;}
	
	.help_all_box .help_ques{max-width: 320px;padding:0 5px;}
	.help_all_box:nth-child(1) .help_single_box:nth-child(1) .help_ques{max-width: 200px;}
	.help_all_box:nth-child(1) .help_single_box:nth-child(2) .help_ques{max-width: 200px;}
	.help_all_box:nth-child(1) .help_single_box:nth-child(3) .help_ques{max-width: 250px;}
	.help_all_box:nth-child(2) .help_single_box:nth-child(1) .help_ques{max-width: 280px;}
	.help_all_box:nth-child(2) .help_single_box:nth-child(2) .help_ques{max-width: 280px;}
	.help_all_box .help_single_box{margin-top: 26px;}
	.help_all_box .help_title img{max-height: 70px;}
	.help_all_box .help_title h2{font-size: 14px;}
	.help_all_box .help_ques ul li{line-height: initial;padding-bottom: 15px;}
	.help_all_box .help_ques ul li a{font-size: 13px;}
	.help_all_box .help_ques ul li a:hover{color:#fe6813;}
	.help_page,.help_all_box,.help_single_box,.help_ques div{padding:0;}
	.help_all_box .help_ques ul{margin:0;line-height: 35px;padding-left: 25px;}
	.help_page{margin-bottom: 40px;}
	.navbar-brand>img{width: 113px;}
	
	.apply_page h1{margin-top:32px;margin-bottom:26px;font-size:19px;}
	.apply_page p{margin-bottom:12px;font-size:12px;}
	.apply_page{padding-bottom:20px;text-align:center;}
	.apply_table .differ_td{padding-top: 13px;margin-bottom:10px;}
	.apply_table .leave_msg{padding-top:13px;}
	.submit_tr{line-height:80px;}
	.apply_table .reg_table tr td:first-child{width: 65px;}
	tr.select_box td{padding-top: 16px;}
	.apply_table .reg_table select{height: 28px;}
}