body{margin:0;padding:0;font-family:'微软雅黑';}
.container{max-width: 1170px;/*padding-left:25px;padding-right:25px;*/margin:0 auto;}
li{list-style:none;}
a,a:hover{text-decoration: none;}

.menu_all{background: #fe6813;box-shadow:0px 2px 10px 0 rgba(0, 0, 0, 0.1);position: relative;
		  /*zoom: 1;filter: progid:DXImageTransform.Microsoft.Shadow(Color=#333, Strength=1, Direction=-5);*/} 
.menu_top ul{padding: 0 22px;background: white;box-shadow: 0px 0px 10px 0px rgba(0,0,0,.2);}
.menu_top ul,.menu_link ul{float:right;margin:0;}
.menu_top ul li{float: left;padding:0 10px;font-size:12px;}
.menu_top ul li a{color:#fe6813;}
.menu_top{height:26px;line-height: 26px;}
.navbar-default .navbar-nav>li>a{color:white;font-size: 16px;padding:0;}
.navbar-default .navbar-nav>li>a:hover{background-color: white;color:#fe6813;box-shadow: 0px 0px 5px 0px rgba(0,0,0,.2);}
.navbar-default .navbar-toggle .icon-bar{background-color:white;}
.navbar-default .navbar-toggle{border-color: white;}

.banner{box-shadow: 0px 0px 10px 0px rgba(0,0,0,.4);padding-bottom:80px;
		background:url("/tpl/Home/abiza1/common/images/background.png"); 
		background-repeat: no-repeat;background-position:top center;background-size:100%  100%;}
.left_banner{text-align: center;color:white;padding:22px;padding:0;margin-top: 25px;overflow: hidden;}
.left_banner .icon_box{overflow: hidden;max-width: 380px;margin: 0 auto;}
.left_banner .web_box{margin-top:24px;}
.left_banner .web_box .web_name{margin-top:5px;}
.right_banner{color:white;padding:0;overflow: hidden;}

.reg_steps{margin-top:50px;}
.content-left,.content-right{text-align: center;}
.content-left{line-height: 276px;}
.content-left img{max-width: 100%;}
.content-right img{max-width: 100%;}
.step_name{text-align: center;line-height: 20px;position: relative;top: -110px;font-size: 16px;color:#010101;}

.register{padding: 6px 0;height: 42px;margin-top:55px;}
.register h2{line-height: 19px;margin: 0;font-size: 18px;color:#fff;text-align: center;padding:8px 0;margin: 0 auto;
			 width:225px;background: #fe6813;box-shadow: 2px 5px 10px 0px rgba(0,0,0,.4);}

.extend{margin: 0 auto;margin-top: 60px;text-align:center;}
.extend_way{overflow:hidden;}
.extend_way .img{max-height: 100%;margin-top:50px;}
.extend_way p{line-height:60px;font-size:17px;color:#f56813;}
.extend_way .img_icons{overflow:hidden;max-width: 200px;margin: 0 auto;margin-top:20px;}
.extend_way .img_icons .img_icon:nth-child(2){margin-top:45px;}
.arrow img{margin-top:30px;max-height: 75px;}
.img_icon{max-width: 60px;padding: 0;}
.site_msg{margin-top:50px;overflow:hidden;}
.msg_content{text-align: left;  max-width: 210px;margin: 0 auto;}
.msg_content p{font-size:15px;color:#444445;line-height: 28px;}
.portal{overflow:hidden;}
.portal img{max-height: 94px;margin-top:50px;}
.portal h3{margin-top:50px;}
.adv_msg{margin-top:50px;font-size:17px;color:#454545;}
.adv_msg span{color:#e8661b;}


.footer{background: url("/tpl/Home/abiza1/common/images/footer.png") center top ; background-repeat: no-repeat;
		color:white;margin-top:22px;padding:32px 10px 32px 10px;text-align: center;background-size:auto 100%; }
.footer p{margin: 0;font-size:14px;line-height: 22px;}

.normalTitle {border-bottom: 1px solid #D7DDE6;border-radius: 10px 10px 0 0;padding: 10px 40px 20px 40px;
			  text-shadow: 0 1px 1px #FFFFFF;}
.normalTitle h2, .panelTitle h2, .processTitle h2 {font-size: 20px;font-weight: bold;}
.content {margin: 0 auto;text-align: left;width:100%;}
.article, .intro, .download, .document, .developer {background:#f5f6f7;box-shadow:0px 1px 3px #ccc;}
.section {border-bottom:1px solid #eee;overflow: hidden;}
.lastSection {border:none;margin-bottom:0px;}
.normalContent {background:#fff;padding:20px 40px;}
.collapsible {background: none repeat scroll 0 0 #FFFFFF;padding: 20px;}
.CollapsiblePanel {margin-bottom: 10px;width: 100%;}
.CollapsiblePanelTab {background:#FFFFFF;border: 1px solid #DEDEDE;border-radius: 3px 3px 3px 3px;color: #626B8A;
					  cursor: pointer;font-size: 18px;padding: 20px 40px 20px 20px;text-shadow: 0 1px 0 white;}
.CollapsiblePanelTab.hover {background:#D7DDE6;border: 1px solid #C1C9D4;}
.CollapsiblePanelTab.clicked {background:#D7DDE6;border: 1px solid #C1C9D4;}
.CollapsiblePanelContent {display: none;overflow: hidden;}
.CollapsiblePanelContent .normalContent {padding: 20px 20px 0;}
.content img{max-width: 100%;}

.login_title{text-align: center;border-bottom:1px solid #ddd;}
.Public-content {background: #f8f8f8;}

.controls{display:inline-block;}
.control-label{width:100px;padding-right:20px;float:left;font-size:16px;font-family: '微软雅黑';}
.control-group{padding:10px 0;line-height:35px;display: inline-block;}
.control-group input{border-radius:5px;border:1px solid #ddd;}
.control-group select{border-radius:5px;border:1px solid #ddd;height:40px;padding-left: 5px;}
.form-horizontal .control-label{padding-top:0;}
.maroon{color:red;margin-left:5px;}
.help_msg{display: inline-block;}

.shop_title{background: #921925;  padding: 10px 0 25px 0;}
.shop_title h2{color:white;line-height: 40px;}
.content_title{border-bottom:1px solid #eee;font-weight: 600;}
.content_text{text-indent: 2em;margin-top:20px;}

.navbar-default .navbar-nav>.open>a{background:none;}
.navbar-default .navbar-nav>.open>a:hover{background:none;}
.navbar-nav>li>a {padding-top: 23px;padding-bottom: 23px;}
.dropdown-menu>li>a:hover{background: none;color:white;}
ul.dropdown-menu {background: rgba(0,0,0,.7);box-shadow: none;border-radius:0;margin:0;padding:0}
ul.dropdown-menu li{}
ul.dropdown-menu >li >a{color:#9a9a9a;padding-top:5px;padding-bottom: 5px}
.navbar-nav>li>a{padding-left:10px;padding-right: 10px;}
#think_page_trace_open{display: none;}
a.intro_more{padding:7px 0;}
a.intro_more:hover{background: white;color:#d12435;}

.box-content{padding-left: 30px;}

.sec_title{line-height:35px;margin-top:10px;}
.sec_title ul li{border-bottom:1px solid #f8f8f8;}
.sec_title img{max-width: 90%;}
.sec_title a{color:#333;}

.slide_menu{position:fixed;right:-160px;width:160px;line-height:35px;height:100%;background:rgba(0,0,0,.7);top:0; overflow: scroll;}
.slide_menu ul{margin:0;padding:10px;}
.slide_menu a{color:white;}
.slide_menu_toggle{background:rgba(0,0,0,.5);height:50px;width:30px;position:fixed;top:50%;right: 0;}
.gototop{position: fixed ! important;border-radius:15px; border:1px solid #ccc; box-shadow:2px 2px 2px #999;height:30px;
		 width:30px; right:15px;background:#fff; bottom:50px;text-align:center;line-height:30px; text-decoration:none; color:#F00;}
.sec_title h4{font-weight: 600;}


/* register & login */
.input_title{font-weight: normal;color:#656161;font-size: 15px;line-height: 70px;display: inline-block;width: 85px;
			 text-align: right;padding-right: 10px;}
.input_text{display: inline-block;}
.input_text input{width: 220px;  line-height: 30px;border:1px solid #aaa;padding-left: 5px;}
.form{text-align: center;margin-top:35px;}
.user_name{background: url("/tpl/Home/abiza1/common/images/user_icon.png") no-repeat right center;padding-right: 24px!important;}
.password_input{background: url("/tpl/Home/abiza1/common/images/lock_icon.png") no-repeat right center;padding-right: 44px!important;}
.item{padding-left: 85px;}
.item.item a{font-size: 13px;color:#fe6813;}
.item button{width: 220px;padding: 3px;color: white;background-color: #fe6813;border: 1px solid #fe6813;border-radius: 4px;
			 margin-top: 25px;font-size: 19px;}
.reg_left{text-align: center;}
.reg_left img{max-width: 408px;width: 100%;}
.reg_page{margin-top: 120px;}
.page_margin{margin-top: 80px;}

.page{text-align:center;background:url("/tpl/Home/abiza1/common/images/reg_bg.png"); 
		background-repeat: no-repeat;background-position:top center;}
.page .reg_adv{text-align: center;color:white;margin:0;line-height: 35px;}
.page .img_container{overflow: hidden;  max-width: 880px;margin: 20px auto 0;}
.page .img_container div:first-child{text-align: right;}
.page .img_container div:last-child{text-align:center;}
.page .img_container img{max-width: 100%;}
.page .have_read{color:white;margin: 30px auto 0;font-size: 18px;font-weight:normal;}
.reg_btn{width: 252px;height: 49px;padding: 0;font-size: 24px;color: #fe6813;background-color: white;border: none;
		 margin-top:15px;box-shadow:0px 0px 10px 0px rgba(0,0,0,.4);}
#protocol{display: block;position: absolute;top: 100px;color: black; height: 500px; box-shadow: rgb(102, 102, 102) 0px 0px 20px 0px;
		  background: white;margin:0 20px;left:0;text-align:left;text-indent:2em;line-height:28px;max-width:1140px;}
#close_protocol{text-align:right;cursor:pointer;}
#protocol strong {font-size: larger;line-height: 35px;}
#read_protocol{cursor: pointer;text-decoration: underline;}

.steps_process{background: url('/tpl/Home/abiza1/common/images/line.png' ) repeat-x center;line-height:40px;overflow: hidden;
			   text-align: center;margin-top:80px;}
.step_process_in{height: 40px;width: 40px;margin: 0 auto;background-color: #fe6813;border-radius: 50px;color: white;font-size: 28px;}
.step_process{height: 40px;width: 40px;margin: 0 auto;background-color: #ccc;border-radius: 50px;color: white;font-size: 28px;}
.all_steps_num{max-width: 750px;overflow: hidden;margin:0 auto;}
.steps_name_process{line-height:50px;overflow: hidden;text-align: center;}
.all_steps_name{max-width: 750px;overflow: hidden;margin:0 auto;}
.process_name_in{color: #030000;font-size: 16px;}
.process_name{color: #9999a5;font-size: 16px;}
.reg_table{width:100%;line-height: 80px;}
.reg_table input{line-height: 35px;width:100%;max-width:370px;border:1px solid #b4b4b4;padding: 0px 5px;}
.reg_table tr td:first-child{width:80px;text-align:right;font-size: 15px;color: #585656;}
.reg_table tr td:last-child{padding-left:10px;padding-right: 40px;}
.table_box{max-width: 440px;margin: 0 auto;}
.submit_btn{padding: 3px!important;color: white;background-color: #fe6813;border:none!important;margin-top: 25px;font-size: 19px;
		    box-shadow: 0px 2px 10px 0px rgba(0,0,0,.4);}
.reg_table tr .return_msg{line-height:20px;font-size:14px;text-align:center;padding:0;}
#register_success_panel_close{width: 40%;margin: 0 auto;padding: 8px;background-color: #fe6813;color: white;font-size: 16px;
							  max-width: 200px; box-shadow: 0px 2px 10px 0px rgba(0,0,0,.4);cursor:pointer;}
#register_success_panel_content{line-height:30px; }

